<p-dialog
  [header]="title"
  [(visible)]="visible"
  [modal]="true"
  (onHide)="onHide()"
  [style]="{ width: '500px' }"
>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12">
      <label for="title">Title</label>
      <input
        id="title"
        name="title"
        type="text"
        [(ngModel)]="music.title"
        pInputText
        autofocus
        aria-describedby="title-help"
        [ngClass]="{ 'ng-invalid ng-dirty': submitted && !music.title }"
      />
      <small *ngIf="submitted && !music.title" id="title-help" class="p-error"
        >Title is required!</small
      >
    </div>

    <div class="p-field p-col-12">
      <label for="artist">Artist</label>
      <input
        id="artist"
        name="artist"
        type="text"
        [(ngModel)]="music.artist"
        pInputText
        aria-describedby="artist-help"
        [ngClass]="{ 'ng-invalid ng-dirty': submitted && !music.artist }"
      />
      <small *ngIf="submitted && !music.artist" id="artist-help" class="p-error"
        >Artist is required!</small
      >
    </div>

    <div class="p-field p-col-12 p-md-6">
      <label for="releaseDate">Release Date</label>
      <p-inputMask
        id="releaseDate"
        name="releaseDate"
        [(ngModel)]="music.release_date"
        mask="99/99/9999"
        aria-describedby="releaseDate-help"
        [ngClass]="{ 'ng-invalid ng-dirty': submitted && !music.release_date }"
      >
      </p-inputMask>
      <small
        *ngIf="submitted && !music.release_date"
        id="releaseDate-help"
        class="p-error"
      >
        Release Date is required!
      </small>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <label for="duration">Duration</label>
      <p-inputMask
        id="duration"
        name="duration"
        [(ngModel)]="music.duration"
        mask="99:99"
        aria-describedby="duration-help"
        [ngClass]="{ 'ng-invalid ng-dirty': submitted && !music.duration }"
      >
      </p-inputMask>
      <small
        *ngIf="submitted && !music.duration"
        id="duration-help"
        class="p-error"
        >Duration is required!</small
      >
    </div>

    <div class="p-field p-col-12 p-md-6">
      <label for="numberViews">Number Views</label>
      <p-inputNumber
        id="numberViews"
        name="numberViews"
        [(ngModel)]="music.number_views"
      ></p-inputNumber>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <label>Is Feat?</label>
      <div class="p-field-radiobutton" style="margin-top: 8px">
        <p-radioButton
          id="yes"
          name="feat"
          [value]="true"
          [(ngModel)]="music.feat"
        ></p-radioButton>
        <label for="yes">Yes</label>
        <p-radioButton
          id="no"
          name="feat"
          [value]="false"
          [(ngModel)]="music.feat"
          [style]="{ marginLeft: '15px' }"
        >
        </p-radioButton>
        <label for="no">No</label>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-3">
      <button
        pButton
        pRipple
        label="Save"
        (click)="actionSave()"
        [disabled]="spinLoader"
        class="p-button-success"
        icon="pi pi-save"
      ></button>
    </div>

    <div class="p-field p-col-12 p-md-3">
      <div *ngIf="spinLoader" class="spin-loader"></div>
    </div>
  </div>
</p-dialog>
