<app-logged-user></app-logged-user>

<h1>Music List</h1>

<div class="table-top-buttons">
  <button pButton pRipple label="Add" (click)="openAdd()" class="p-button-primary" icon="pi pi-plus">
  </button>

  <p-button *ngIf="countDeletedMusics > 0" label="Deleted Music List" (click)="goToDeletedMusicList()"
    [badge]="countDeletedMusics.toString()" badgeClass="p-badge-danger" styleClass="p-button-primary"
    icon="pi pi-trash">
  </p-button>

  <button pButton pRipple label="Logout" (click)="openLogout()" class="p-button-primary" icon="pi pi-sign-out"
    iconPos="right">
  </button>
</div>

<p-table [value]="musics" [lazy]="true" (onLazyLoad)="loadMusics($event)" responsiveLayout="scroll" [paginator]="true"
  [rows]="5" [totalRecords]="totalRecords" [loading]="loading" [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} musics">
  <ng-template pTemplate="header">
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Release Date</th>
      <th>Duration</th>
      <th>Number Views</th>
      <th>Feat</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-music>
    <tr>
      <td>{{ music.title }}</td>
      <td>{{ music.artist }}</td>
      <td>{{ music.release_date | date:"dd/MM/yyyy" }}</td>
      <td>{{ music.duration | duration }}</td>
      <td>{{ music.number_views | number }}</td>
      <td>{{ music.feat | feat }}</td>
      <td>
        <button pButton pRipple (click)="openEdit(music)" pTooltip="Edit Music"
          class="p-button-rounded p-button-primary" icon="pi pi-pencil">
        </button>
      </td>
      <td>
        <button pButton pRipple (click)="openDelete(music)" pTooltip="Delete Music"
          class="p-button-rounded p-button-danger" icon="pi pi-trash">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-music-dialog [(visible)]="visibleMusicDialog" [title]="titleMusicDialog" [music]="music"
  (onSuccess)="onMusicDialogSuccess()">
</app-music-dialog>

<app-delete-music [(visible)]="visibleDeleteMusic" [music]="musicToDelete" (onSuccess)="onDeleteMusicSuccess()">
</app-delete-music>

<app-logout-dialog [(visible)]="logoutDialog">
</app-logout-dialog>

<app-session-expired [(visible)]="visibleSessionExpired">
</app-session-expired>