<h1 class="title">Music Records</h1>

<div>
    <p-messages [(value)]="msgs"></p-messages>
</div>

<div class="table-top-button">
    <p-button label="Add Music" (click)="showCreateMusic()" icon="pi pi-plus"></p-button>
    <p-button *ngIf="deletedMusicNumbers === 0" label="Deleted Musics" icon="pi pi-trash" disabled="true"></p-button>
    <p-button *ngIf="deletedMusicNumbers > 0" label="Deleted Musics" (click)="showDeletedMusic()" icon="pi pi-trash" badge="1"
        badgeClass="p-badge-danger"></p-button>
    <p-button label="Logout" (click)="logoutUser()" icon="pi pi-sign-out" iconPos="right"></p-button>
</div>

<p-table [value]="musics" [lazy]="true" (onLazyLoad)="loadMusics($event)" [paginator]="true" [rows]="5"
    [totalRecords]="totalRecords" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 5%;">#</th>
            <th style="width: 20%;">Title</th>
            <th style="width: 20%;">Artist</th>
            <th style="width: 15%;">Launch Date</th>
            <th style="width: 10%;">Duration</th>
            <th style="width: 15%;">Views Number</th>
            <th style="width: 5%;">Feat</th>
            <th style="width: 5%;">Edit</th>
            <th style="width: 5%;">Delete</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-music let-rowIndex="rowIndex">
        <tr>
            <td>{{rowIndex + 1}}</td>
            <td>{{music.title}}</td>
            <td>{{music.artist}}</td>
            <td>{{music.launchDate | launchDate }}</td>
            <td>{{music.duration}} min</td>
            <td>{{music.viewsNumber | currency:'':'':'1.0-0'}}</td>
            <td>{{music.feat | musicFeat}}</td>
            <td>
                <p-button (click)="showEditMusic(music)" icon="pi pi-user-edit" pTooltip="Edit Music"
                    tooltipPosition="bottom" styleClass="p-button-rounded"></p-button>
            </td>
            <td>
                <p-button (click)="confirmDeleteMusic(music)" icon="pi pi-trash" pTooltip="Delete Music"
                    styleClass="p-button-rounded p-button-danger"></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" >
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td [attr.colspan]="musics.length" style="font-weight: bold;">
                No records found!
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Add Music" [(visible)]="displayCreateEditMusic" [modal]="true" appendTo="body" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" (onShow)="createMusic.showDialog(musicEdit)" (onHide)="clearMusicEdit()"
    [style]="{width: '50vw'}">
    <app-create-edit-music #createMusic></app-create-edit-music>
</p-dialog>

<p-confirmDialog header="Delete Confirmation" icon="pi pi-question-circle" [style]="{width: '50vw'}"
    [baseZIndex]="10000" acceptButtonStyleClass="p-button-danger">
</p-confirmDialog>